@media (max-width:2560px){
  html{
    font-size: 28px;
  }
}

@media screen and (max-width:2000px){
  html{
    font-size: 24px;
  }

/* ---------- H E A D E R ---------- */
  /* Esto es para que aparezca el icono de cuenta */
  .toggle-cuenta{
    display: block;
  }

  /* Esto es para que desaparezcan los botones */
  .header__container-btns{
    display: none;
  }

  /* Esto es para posicionar bien el icono de cuenta */
  nav{
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  /* Esto es para como quiero que se ve el pop-up con los botones */
  .dentro-icono-cuenta{
  background-color: var(--background);
  position: absolute;
  top: 86px;
  left: 75%;
  width: 25%;
  flex-direction: column;
  border: 2px solid var(--red);
  border-top: 0px;
  border-radius: 0px 0px 15px 15px;
  padding: 45px 30px;
  gap: 25px;
  z-index: 2;
  align-items: center;
  }

  .header--btn{
    width: 9.5rem;
    text-align: center;
  }

  /* Esto es para que se muestre el pop-up una vez clickeo en el icono y para que aparezca el titulo */
  #toggle-cuenta:checked ~  .dentro-icono-cuenta,
  .dentro-icono-cuenta p{
    display: flex;
  }

  /*Para efecto de glassmorphismo */
  .overlay{
    position: absolute;
    top: 86px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /*Para que quede por encima del resto de las cosas*/

    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
  }

  #toggle-menu:checked ~ .overlay{
    display: block;
  }

  #toggle-cuenta:checked ~ .overlay{
    display: block;
  }
}

@media screen and (max-width:1440px){
  html{
    font-size: 18px;
  }

/* ---------- H E A D E R ---------- */
  .header__container-btns{
    top: 70px;
  }
  
  .overlay{
    top: 70px ;
  }

  nav{
    margin-right: 0;
  }

/* ---------- M A I N ---------- */
  /* Seccion Hero */
  #hero{
    padding: 70px 3rem;
  }

  .hero__info{
    width: 85%;
  }
  .btn-catalogo{
    width: 11rem;
    padding: 10px 20px;
  }

  /* Seccion Contacto */
  .contacto__lista-info {
    width: 45%;
  }

  .contacto--mapa {
    width: 45%;
  }

  .contacto--mapa iframe{
    height: 375px;
  }


}


@media (max-width:1024px){
  html{
    font-size: 16px;
  }

  .header__container-btns{
    top: 64px;
  }

  .overlay{
    top: 64px;
  }

  #about{
    padding: 50px 20px;
  }

  #contacto{
    padding: 50px 30px;
  }
}

@media (max-width:945px){
/* ---------- H E A D E R ---------- */
  /* Esto es para que aparezca el icono del menu */
  .toggle-menu{
    display: block;
  }

  /* Esto es para que desaparezca el icono de cuenta */
  .toggle-cuenta{
    display: none;
  }

  /* Esto es para que desaparezcan la navbar-list y estilamos como se vera */
  .header__navbar-list{
    display: none;
    background-color: var(--background);
    position: absolute;
    top: 64px;
    left: 70%;
    width: 30%;
    height: calc(100vh - 64px);
    flex-direction: column;
    border: 2px solid var(--red);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    align-items: flex-start;
  }

  .header--separador-li{
    width: 80%;
    height: 1px;
  }

  .header__container-btns{
    flex-direction: column;
  }
  /* Esto es para que se muestre el navbar-list una vez clickeo en el icono */
  #toggle-menu:checked ~ .header__navbar-list, 
  .dentro-menu-hamburguesa{
    display: flex;
  }


/* ---------- F O O T E R ---------- */
  .footer__seccion-info{
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    padding: 15px 20px;
  }

  .footer__info-encabezado{
    grid-column: 1 / 4;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width:768px){
  html{
    font-size: 14px;
  }

/* ---------- H E A D E R ---------- */
  .header__navbar-list{
    top: 59px;
    width: 35%;
    left: 65%;
    height: calc(100vh - 59px);
  }

  .overlay{
    top: 59px;
  }

  .header--btn{
    width: 10rem;
  }

/* ---------- M A I N ---------- */
  /* Seccion Hero */
  #hero{
    padding: 10px 1.5rem;
  }

  .hero__info p{
    width: 80%;
  }

  .btn-catalogo{
    padding: 8px 15px;
  }

  /* Seccion Hero */
  #about{
    gap: 30px;
  }

  /* Seccion Promo Cards */
  #promos{
    gap: 30px;
  }
  .promos__container-cards{
    flex-direction: column;
    align-items: center;
  }

  .promos__card{
    width: 60%;
  }

  /* Seccion Contacto */
  .contacto--title{
    padding-bottom: 30px;
  }

  .contacto__container{
    flex-direction: column-reverse;
  }

  .contacto--mapa{
    width: 100%;
  }

  .contacto--mapa iframe{
    height: 300px;
  }

  .contacto__lista-info{
    width: auto;
  }

  .contacto__lista-info li{
    margin: 15px 0;
  }

  .contacto__lista-info li::before{
    content: "⭐";
  }

  .contacto__lista-info__item-container-redes{
    gap: 0;
  }
}

@media screen and (max-width:576px){
  .header__navbar-list{
    width: 50%;
    left: 50%;
  }


/* ---------- M A I N ---------- */
  /* Seccion Hero */
  #hero{
    padding: 45px 1.5rem;
    background-size: cover;
    margin-bottom: 20px;
  }

  .hero__info{
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero__info span{
    display: none;
  }

  .hero__info p{
    width: 80%;
    text-shadow:  1px .5px 3px #2d334a;
  }
  
  /* Seccion About */
  #about{
    padding: 20px;
  }

  .about__caracteristicas{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .about__caracteristicas:nth-child(even){
    flex-direction: column;
  }

  .about__caracteristicas img{
    width: 60%;
  }
  .about__caracteristicas__info{
    gap: 5px;
    width: 65%;
  }

  /* Seccion Promo Cards */
  .promos__card{
    width: 70%;
  }

  /* Seccion contacto */
  .contacto__lista-info__item-container-redes div{
  margin-left: 15px;
  }

/* F O O T E R */
.footer__seccion-info{
  column-gap: 15px;
}
.footer__seccion-info li{
  margin-bottom: 5px;
}
.footer__info-encabezado--redes{
  gap: 15px;
}
}

@media screen and (max-width:445px){
  .header__navbar-list{
    width: 60%;
    left: 40%;
  }


  .about__caracteristicas__info{
    width: 75%;
  }

  .about__caracteristicas img{
    width: 70%;
  }

  .promos__card{
    width: 85%;
  }

  /* F O O T E R */
  .footer__info-encabezado{
    flex-direction: column;
  }

  .footer__seccion-info{
    column-gap: 30px;
    row-gap: 30px;
  }

}