@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
--background: #000000;
--bkg-secondary: #0f0e17;
--bkg-tertiary: #242629;
--text-white: #fffffe;
--parrafo: #94a1b2;
--purple: #7f5af0;
--green: #2cb67d;
--red: #e53170;
--yellow: #ff8906;
--orange: #f25f4c;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-white);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 63px;
}

body{
  background-color: var(--background);
}

/* H E A D E R */
header{
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--red);
  /* box-shadow: 0px 8px 24px rgba(229, 49, 112, 0.2); */
  background-color: var(--background);
}


.header--logo{
  width: 53px;
}

.header--container-title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-list{
  display: flex;
  gap: 25px;
  margin-right: 80px;
  font-size: 1.2rem;
  font-weight: 600;

}


nav{
  display: flex;
  align-items: center;  
}

.btn{
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 1.15rem;
  font-weight: 600;
}

.btn-account{
  background-color: var(--red);
  padding: 5px 10px ;
  border-radius: 0px;
}

.btn:first-child{
  background-color: var(--bkg-tertiary);
}


/* Esto es para el icono de cuenta */
nav i{
  font-size: 28px;
  cursor: pointer;
  padding: 0 20px;
}

/* Esto es para ocultar los iconos y checkbox de menu hamburguesa y cuenta */
#toggle-menu,
#account,
.toggle-menu,
.account{
  display: none;
}


/* M A I N */
/* Seccion Hero */
#hero{
  background-image: url(img/Cine-hero.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position:center ;
  padding: 110px 20px;
}

.hero__info{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__info h2{
  font-size: 2rem;
}

.hero__info p{
  width: 60%;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-catalogo{
  background-color: var(--red);
  width: 200px;
  padding: 10px 15px;
}

/* Seccion About */
#about{
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#about h2{
  font-size: 1.8rem;
}

.about__mision{
  font-style: italic;
}

.about__caracteristicas{
  display: flex;
  justify-content: space-evenly;
  max-width: 1600px;
}

.about__caracteristicas img{
  width: 560px;
}

.about__caracteristicas__info{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.about__caracteristicas__info p{
  color: var(--parrafo);
}

/* Seccion Cards */
#cards{
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#cards h2{
  font-size: 1.8rem;
}

#cards p{
  font-size: 1.2rem;
  color: var(--parrafo);
}

.container__cards{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.card{
  width: 30%;
  max-width: 400px;
  height: 500px;
  /* box-shadow: 0px 8px 24px rgba(229, 49, 112, 0.2); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  border-bottom-right-radius: 50px;
}

.card__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card__info p{
  color: var(--parrafo);
}

#cards button{
  padding: 10px 20px;
  background-color: var(--orange);
  border: none;
  font-size: 1.18rem;
  border-radius: 10px;
}


/* Seccion Contacto */
#contacto{
  padding: 70px 20px;
}

#contacto h2{
  text-align: center;
  padding-bottom: 60px;
  font-size: 1.8rem;
}

.contacto__container-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

iframe{
  width: 40%;
  max-width: 800px;
}

.lista-info{
  width: 40%;
  max-width: 800px;
}

.lista-info li{
  margin: 15px 0;
}

/* Iconos de redes sociales */
.contacto__redes-sociales{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacto__redes-sociales i{
  font-size: 32px;
  padding: 0 5px;
}


/* ------ F O O T E R ------ */
footer{
  background-color: var(--bkg-tertiary)
}

/* Seccion Info */
.footer__seccion-info{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  padding: 30px 0;
  max-width: 1600px;
  margin: auto;
}

.footer__info-encabezado--title{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.footer__info-encabezado--redes{
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 22px;
}

.footer__seccion-info h5{
  font-size: 1rem;
  color: var(--bkg-secondary);
  text-transform: uppercase;
  font-weight: 900;
}

.footer__seccion-info a{
  color: var(--bkg-secondary);
  font-weight: 600;
}

/* Seccion Creador */
.footer__seccion-creador{
  text-align: center;
  border-top: 2px solid var(--background);
  padding: 15px 0;
}